Repository fluencelabs/aquavm, pull requests merged in 2022-04, with the labels that each got.

#239 Marine-js stage 2: move avm-related helpers to appropriate package
  avm/client/.gitignore
  avm/client/package-lock.json
  avm/client/package.json
  avm/client/src/avmHelpers.ts
  avm/client/src/copyAvm.ts
  avm/client/src/index.ts
  avm/client/src/types.ts
Labels: C-enhancement, A-avm-client

#242 Expose max memory size
  Cargo.lock
  avm/server/Cargo.toml
  avm/server/src/avm.rs
  avm/server/src/lib.rs
  avm/server/src/runner.rs
Labels: C-dx, A-avm-server

#253 Introduce %ttl%
  CHANGELOG.md
  Cargo.lock
  air-interpreter/Cargo.toml
  air/Cargo.toml
  air/src/execution_step/air/ap/apply_to_arguments.rs
  air/src/execution_step/air/compare_matchable/comparator.rs
  air/src/execution_step/execution_context/context.rs
  air/src/execution_step/resolver/resolve.rs
  air/tests/test_module/instructions/ap.rs
  air/tests/test_module/instructions/call.rs
  air/tests/test_module/instructions/match_.rs
  air/tests/test_module/issues/issue_177.rs
  avm/server/Cargo.toml
  avm/server/src/avm.rs
  avm/server/src/interface/particle_parameters.rs
  avm/server/src/runner.rs
  crates/air-lib/air-parser/src/ast/instruction_arguments.rs
  crates/air-lib/air-parser/src/ast/instruction_arguments/traits.rs
  crates/air-lib/air-parser/src/parser/air.lalrpop
  crates/air-lib/air-parser/src/parser/air.rs
  crates/air-lib/air-parser/src/parser/lexer/air_lexer.rs
  crates/air-lib/air-parser/src/parser/lexer/tests.rs
  crates/air-lib/air-parser/src/parser/lexer/token.rs
  crates/air-lib/air-parser/src/parser/tests/ap.rs
  crates/air-lib/air-parser/src/parser/tests/call.rs
  crates/air-lib/air-parser/src/parser/tests/match_.rs
  crates/air-lib/air-parser/src/parser/validator.rs
  crates/air-lib/interpreter-interface/Cargo.toml
  crates/air-lib/interpreter-interface/src/run_parameters.rs
  crates/air-lib/test-utils/src/test_runner.rs
Labels: C-feature, A-execution-engine, A-air-parser, A-avm-server
