Repository fluencelabs/aquavm, pull requests merged in 2022-02, with the labels that each got.

#217 Fix data handling in ap
  air/src/execution_step/air/ap.rs
  air/src/execution_step/air/call/resolved_call.rs
  air/tests/test_module/issues/issue_216.rs
  air/tests/test_module/issues/mod.rs
Labels: bug, component: execution engine

#220 Fix tetraplets json path
  air/src/execution_step/air/ap.rs
  air/src/execution_step/air/ap/apply_to_arguments.rs
  air/src/execution_step/air/call.rs
  air/src/execution_step/air/call/call_result_setter.rs
  air/src/execution_step/air/call/prev_result_handler.rs
  air/src/execution_step/air/call/resolved_call.rs
  air/src/execution_step/air/fail.rs
  air/src/execution_step/air/fold/utils.rs
  air/src/execution_step/boxed_value/iterable.rs
  air/src/execution_step/boxed_value/iterable/json_path_result.rs
  air/src/execution_step/boxed_value/iterable/vec_json_path_result.rs
  air/src/execution_step/boxed_value/jvaluable.rs
  air/src/execution_step/boxed_value/jvaluable/cell_vec_resolved_call_result.rs
  air/src/execution_step/boxed_value/jvaluable/empty_stream.rs
  air/src/execution_step/boxed_value/jvaluable/iterable_item.rs
  air/src/execution_step/boxed_value/jvaluable/resolved_call_result.rs
  air/src/execution_step/boxed_value/jvaluable/stream.rs
  air/src/execution_step/boxed_value/scalar.rs
  air/src/execution_step/execution_context/last_error/last_error_definition.rs
  air/src/execution_step/execution_context/last_error/last_error_descriptor.rs
  air/src/execution_step/mod.rs
  air/src/execution_step/resolver/mod.rs
  air/src/execution_step/resolver/resolve.rs
  air/tests/test_module/integration/security_tetraplets.rs
Labels: bug, component: execution engine

#209 Use js marine runtime instead of wasm-bindgen
  .github/workflows/avm_client_ci.yml
  .github/workflows/publish_interpreter.yml
  .github/workflows/publish_interpreter_dev.yml
  avm/client/build_wasm.ps1
  avm/client/build_wasm.sh
  avm/client/jest.config.js
  avm/client/package-lock.json
  avm/client/package.json
  avm/client/src/__test__/test.spec.ts
  avm/client/src/index.ts
  avm/client/src/wrapper.ts
Labels: component: avm-client

#224 Fix ap trace handler behaviour
  air/src/execution_step/air/ap.rs
  air/tests/test_module/issues/issue_221.rs
  air/tests/test_module/issues/mod.rs
  crates/air-lib/trace-handler/src/merger/ap_merger.rs
  crates/air-lib/trace-handler/src/merger/call_merger.rs
  crates/air-lib/trace-handler/src/merger/mod.rs
  crates/air-lib/trace-handler/src/merger/position_mapping.rs
Labels: bug, component: trace handler
