Repository fluencelabs/aquavm, pull requests merged in 2022-10, with the labels that each got.

#352 chore(tests): use *.air extenstion for scripts
  air/tests/test_module/features/data_merging/data_merge.rs
  air/tests/test_module/features/data_merging/executed_trace_basic.rs
  air/tests/test_module/features/data_merging/scripts/create_service.air
  air/tests/test_module/features/data_merging/scripts/inner_folds_v1.air
  air/tests/test_module/features/errors/last_error.rs
  air/tests/test_module/features/errors/scripts/create_service_with_xor.air
  air/tests/test_module/features/streams/scripts/fold_early_exit.air
  air/tests/test_module/features/streams/scripts/fold_par_early_exit.air
  air/tests/test_module/features/streams/scripts/par_early_exit.air
  air/tests/test_module/features/streams/scripts/stream_fold_merging_v0.air
  air/tests/test_module/features/streams/scripts/stream_fold_merging_v1.air
  air/tests/test_module/features/streams/scripts/stream_fold_merging_v2.air
  air/tests/test_module/features/streams/streams.rs
  air/tests/test_module/features/streams/streams_early_exit.rs
  air/tests/test_module/integration/create_service.rs
  air/tests/test_module/integration/dashboard.rs
  air/tests/test_module/integration/network_explore.rs
  air/tests/test_module/integration/scripts/create_service.air
  air/tests/test_module/integration/scripts/dashboard.air
  air/tests/test_module/integration/scripts/network_explore.air
  air/tests/test_module/issues/issue_177.rs
  air/tests/test_module/issues/scripts/issue_177.air
  crates/air-lib/air-parser/benches/parser.rs
Labels: A-tests, C-dx

#354 refactor(aquavm): improve readability of `ap` merger and handler
  air/src/execution_step/air/ap.rs
  air/src/execution_step/air/ap/utils.rs
  air/src/execution_step/air/call/prev_result_handler.rs
  air/src/execution_step/boxed_value/stream.rs
  air/tests/test_module/features/lambda/functors.rs
  air/tests/test_module/features/streams/recursive_streams.rs
  air/tests/test_module/instructions/ap.rs
  air/tests/test_module/instructions/fold.rs
  air/tests/test_module/instructions/new.rs
  air/tests/test_module/issues/issue_206.rs
  air/tests/test_module/issues/issue_211.rs
  air/tests/test_module/issues/issue_221.rs
  air/tests/test_module/issues/issue_295.rs
  crates/air-lib/interpreter-data/src/executed_state/impls.rs
  crates/air-lib/test-utils/src/executed_state.rs
  crates/air-lib/trace-handler/src/merger/ap_merger.rs
  crates/air-lib/trace-handler/src/merger/call_merger.rs
  crates/air-lib/trace-handler/src/merger/errors.rs
  crates/air-lib/trace-handler/src/merger/fold_merger/fold_lore_resolver.rs
  crates/air-lib/trace-handler/src/merger/mod.rs
Labels: A-trace-handler, A-execution-engine, C-refactoring, T-determinism

#342 feat(testing) Testing framework chapter 1, asserts and comments
  Cargo.lock
  air/tests/test_module/issues/issue_221.rs
  crates/testing-framework/Cargo.toml
  crates/testing-framework/src/asserts/mod.rs
  crates/testing-framework/src/asserts/parser.rs
  crates/testing-framework/src/execution/mod.rs
  crates/testing-framework/src/services/results.rs
  crates/testing-framework/src/transform/mod.rs
  crates/testing-framework/src/transform/parser.rs
Labels: C-enhancement, A-tests, T-testing

#362 fix(execution-engine): fix invalid iteration over stream
  CHANGELOG.md
  Cargo.lock
  air-interpreter/Cargo.toml
  air/Cargo.toml
  air/src/execution_step/air/new.rs
  air/src/execution_step/boxed_value/stream.rs
  air/src/execution_step/errors/uncatchable_errors.rs
  air/src/execution_step/execution_context/context.rs
  air/src/execution_step/execution_context/streams_variables.rs
  air/src/execution_step/execution_context/streams_variables/utils.rs
  air/src/farewell_step/outcome.rs
  air/src/preparation_step/preparation.rs
  air/tests/test_module/features/data_merging/data_merge.rs
  air/tests/test_module/features/streams/merging.rs
  air/tests/test_module/features/streams/mod.rs
  air/tests/test_module/features/streams/streams_early_exit.rs
  air/tests/test_module/instructions/canon.rs
  air/tests/test_module/issues/issue_302.rs
  air/tests/test_module/issues/issue_363.rs
  air/tests/test_module/issues/mod.rs
  crates/air-lib/interpreter-data/CHANGELOG.md
  crates/air-lib/interpreter-data/Cargo.toml
  crates/air-lib/trace-handler/src/errors.rs
  crates/air-lib/trace-handler/src/handler.rs
  crates/air-lib/trace-handler/src/lib.rs
Labels: C-bug, A-execution-engine, T-determinism

#364 feat(testing-framework): allow exclamation mark
  crates/testing-framework/src/transform/parser.rs
Labels: C-feature, T-testing

#366 fix(execution-engine): save order between current generations
  air/src/execution_step/air/fold_stream/stream_cursor.rs
  air/src/execution_step/air/new.rs
  air/src/execution_step/boxed_value/stream.rs
  air/src/execution_step/errors/uncatchable_errors.rs
  air/src/execution_step/execution_context/context.rs
  air/src/execution_step/execution_context/streams_variables.rs
  air/src/execution_step/execution_context/streams_variables/utils.rs
  air/src/farewell_step/outcome.rs
  air/src/preparation_step/preparation.rs
  air/tests/test_module/features/data_merging/data_merge.rs
  air/tests/test_module/features/streams/merging.rs
  air/tests/test_module/features/streams/streams_early_exit.rs
  air/tests/test_module/instructions/canon.rs
  air/tests/test_module/issues/issue_302.rs
  crates/air-lib/trace-handler/src/errors.rs
  crates/air-lib/trace-handler/src/handler.rs
  crates/air-lib/trace-handler/src/lib.rs
Labels: C-bug, A-execution-engine, T-determinism

#365 feat(testing-framework): prevalidate AIR script
  Cargo.lock
  crates/testing-framework/Cargo.toml
  crates/testing-framework/src/execution/mod.rs
Labels: C-feature, T-testing

#367 feat(interpreter-data): add interpreter version in data
  .github/workflows/e2e.yml
  Cargo.lock
  air/Cargo.toml
  air/src/farewell_step/outcome.rs
  air/src/preparation_step/errors.rs
  air/src/preparation_step/minimal_supported_version.rs
  air/src/preparation_step/mod.rs
  air/src/preparation_step/preparation.rs
  air/tests/test_module/features/data_merging/data_merge.rs
  air/tests/test_module/features/misc/mod.rs
  air/tests/test_module/features/misc/version_check.rs
  crates/air-lib/interpreter-data/CHANGELOG.md
  crates/air-lib/interpreter-data/Cargo.toml
  crates/air-lib/interpreter-data/src/interpreter_data.rs
  crates/air-lib/interpreter-data/src/lib.rs
  crates/air-lib/test-utils/Cargo.toml
  crates/air-lib/test-utils/src/lib.rs
Labels: C-feature, T-hardening

#368 ci: Set avm client version to crate version
  .github/workflows/publish_interpreter.yml
  .github/workflows/snapshot.yml
Labels: C-enhancement, A-CI, T-testing

#336 Update wasm-bindgen for wasm-air-beautify
  .github/workflows/publish_air_beautify_wasm.yaml
  .github/workflows/snapshot.yml
  Cargo.lock
  Cargo.toml
  tools/wasm/air-beautify-wasm/.gitignore
  tools/wasm/air-beautify-wasm/Cargo.toml
  tools/wasm/air-beautify-wasm/src/lib.rs
Labels: C-enhancement, A-tests
