Repository fluencelabs/aquavm, pull requests merged in 2022-09, with the labels that each got.

#293 Testing framework, chapter I
  Cargo.lock
  Cargo.toml
  air/Cargo.toml
  air/tests/test_module/issues/issue_178.rs
  air/tests/test_module/issues/issue_211.rs
  avm/interface/src/call_service_result.rs
  crates/testing-framework/Cargo.toml
  crates/testing-framework/src/asserts/mod.rs
  crates/testing-framework/src/asserts/parser.rs
  crates/testing-framework/src/ephemeral/mod.rs
  crates/testing-framework/src/ephemeral/neighborhood.rs
  crates/testing-framework/src/execution/mod.rs
  crates/testing-framework/src/lib.rs
  crates/testing-framework/src/services/mod.rs
  crates/testing-framework/src/services/results.rs
  crates/testing-framework/src/transform/mod.rs
  crates/testing-framework/src/transform/parser.rs
  crates/testing-framework/src/transform/walker.rs
Labels: A-tests, C-dx

#301 Populate restricted streams generations from data
  air/src/execution_step/execution_context/context.rs
  air/src/execution_step/execution_context/streams_variables.rs
  air/src/preparation_step/preparation.rs
  air/tests/test_module/issues/issue_300.rs
  air/tests/test_module/issues/mod.rs
Labels: A-execution-engine

#303 Get rid of unsafe code in the interpreter
  air/src/lib.rs
  avm/interface/src/lib.rs
  crates/air-lib/air-parser/src/ast/values/impls.rs
  crates/air-lib/air-parser/src/lib.rs
  crates/air-lib/air-parser/src/parser/lexer/tests.rs
  crates/air-lib/air-parser/src/parser/tests/ap.rs
  crates/air-lib/air-parser/src/parser/tests/call.rs
  crates/air-lib/air-parser/src/parser/tests/fail.rs
  crates/air-lib/air-parser/src/parser/tests/match_.rs
  crates/air-lib/execution-info-collector/src/lib.rs
  crates/air-lib/interpreter-data/src/lib.rs
  crates/air-lib/interpreter-interface/src/lib.rs
  crates/air-lib/lambda/ast/src/lib.rs
  crates/air-lib/lambda/parser/src/lib.rs
  crates/air-lib/lambda/parser/src/parser/lambda_parser.rs
  crates/air-lib/polyplets/src/lib.rs
  crates/air-lib/test-utils/src/lib.rs
  crates/air-lib/trace-handler/src/lib.rs
  crates/data-store/src/lib.rs
Labels: C-enhancement, P-low, A-execution-engine

#305 Bug: join behavior on CanonStream
  air/src/execution_step/air/fold_scalar.rs
  air/tests/test_module/issues/issue_304.rs
  air/tests/test_module/issues/mod.rs
Labels: C-bug, A-execution-engine

#307 Fix fold over canon streams
  air/src/execution_step/air/ap/apply_to_arguments.rs
  air/src/execution_step/air/fold/utils.rs
  air/src/execution_step/air/next.rs
  air/src/execution_step/boxed_value/iterable.rs
  air/src/execution_step/boxed_value/iterable/lambda_result.rs
  air/src/execution_step/boxed_value/scalar.rs
  air/src/execution_step/lambda_applier/utils.rs
  air/src/execution_step/mod.rs
  air/tests/test_module/issues/issue_306.rs
  air/tests/test_module/issues/mod.rs
Labels: C-bug, A-execution-engine

#316 bump wasm-bindgen
  Cargo.lock
  air-interpreter/Cargo.toml
  air/Cargo.toml
Labels: C-enhancement

#327 Misc clippy fixes
  Cargo.lock
  crates/air-lib/air-parser/Cargo.toml
  crates/air-lib/air-parser/src/parser/lexer/air_lexer.rs
  crates/beautifier/Cargo.toml
  crates/beautifier/src/beautifier.rs
  crates/beautifier/src/lib.rs
  tools/cli/air-beautify/Cargo.toml
  tools/cli/air-beautify/src/main.rs
  tools/cli/air-trace/Cargo.toml
  tools/cli/air-trace/src/main.rs
  tools/cli/air-trace/src/run/data/anomaly.rs
  tools/cli/air-trace/src/run/data/plain.rs
  tools/cli/air-trace/src/stats/log_data.rs
Labels: P-high, A-tests, C-dx

#332 Fix canon positions
  air/src/execution_step/air/ap/apply_to_arguments.rs
  air/src/execution_step/air/canon.rs
  air/src/execution_step/boxed_value/canon_stream.rs
  air/tests/test_module/issues/issue_331.rs
  air/tests/test_module/issues/mod.rs
Labels: C-bug, A-trace-handler, A-execution-engine

#325 wasm-air-beautify WASM module
  Cargo.toml
  crates/beautifier/Cargo.toml
  tools/wasm/wasm-air-beautify/.gitignore
  tools/wasm/wasm-air-beautify/Cargo.toml
  tools/wasm/wasm-air-beautify/src/lib.rs
Labels: C-feature

#341 refactor(parser): use `AirPos` type for AIR script position
  Cargo.lock
  air/src/execution_step/air/new.rs
  air/src/execution_step/boxed_value/variable.rs
  air/src/execution_step/execution_context/streams_variables.rs
  air/tests/test_module/instructions/new.rs
  air/tests/test_module/issues/issue_173.rs
  crates/air-lib/air-parser/src/ast/instruction_arguments/impls.rs
  crates/air-lib/air-parser/src/ast/values.rs
  crates/air-lib/air-parser/src/ast/values/impls.rs
  crates/air-lib/air-parser/src/lib.rs
  crates/air-lib/air-parser/src/parser/air.lalrpop
  crates/air-lib/air-parser/src/parser/air.rs
  crates/air-lib/air-parser/src/parser/air_parser.rs
  crates/air-lib/air-parser/src/parser/lexer/air_lexer.rs
  crates/air-lib/air-parser/src/parser/lexer/call_variable_parser.rs
  crates/air-lib/air-parser/src/parser/lexer/errors.rs
  crates/air-lib/air-parser/src/parser/lexer/mod.rs
  crates/air-lib/air-parser/src/parser/lexer/tests.rs
  crates/air-lib/air-parser/src/parser/lexer/text_pos.rs
  crates/air-lib/air-parser/src/parser/lexer/token.rs
  crates/air-lib/air-parser/src/parser/span.rs
  crates/air-lib/air-parser/src/parser/tests/ap.rs
  crates/air-lib/air-parser/src/parser/tests/call.rs
  crates/air-lib/air-parser/src/parser/tests/canon.rs
  crates/air-lib/air-parser/src/parser/tests/fail.rs
  crates/air-lib/air-parser/src/parser/tests/fold.rs
  crates/air-lib/air-parser/src/parser/tests/match_.rs
  crates/air-lib/air-parser/src/parser/tests/new.rs
  crates/air-lib/air-parser/src/parser/tests/seq.rs
  crates/air-lib/air-parser/src/parser/validator.rs
  crates/air-lib/execution-info-collector/Cargo.toml
  crates/air-lib/execution-info-collector/src/instructions_tracker.rs
  crates/air-lib/interpreter-data/Cargo.toml
  crates/air-lib/interpreter-data/src/stream_generations.rs
  crates/air-lib/lambda/parser/src/parser/lexer/lambda_ast_lexer.rs
Labels: C-enhancement, A-air-parser
