Repository fluencelabs/aquavm, pull requests merged in 2022-06, with the labels that each got.

#270 Set an empty subtrace on absent fold lore
  air/tests/test_module/issues/issue_222.rs
  air/tests/test_module/issues/mod.rs
  crates/air-lib/trace-handler/src/state_automata/fold_fsm/lore_applier.rs
Labels: C-bug, A-trace-handler, A-execution-engine

#274 Run tests with sanitizers
  .circleci/config.yml
  avm/server/src/interface/call_service_result.rs
  avm/server/src/interface/raw_outcome.rs
  crates/air-lib/test-utils/Cargo.toml
  crates/air-lib/test-utils/src/lib.rs
  crates/air-lib/test-utils/src/native_test_runner.rs
  crates/air-lib/test-utils/src/test_runner.rs
  crates/air-lib/test-utils/src/wasm_test_runner.rs
Labels: C-enhancement, P-low, A-tests, A-CI

#273 Introduce TracePos type for trace positions
  air/src/execution_step/air/call/call_result_setter.rs
  air/src/execution_step/air/call/prev_result_handler.rs
  air/src/execution_step/boxed_value/iterable.rs
  air/src/execution_step/boxed_value/iterable/json_path_result.rs
  air/src/execution_step/boxed_value/iterable/vec_json_path_result.rs
  air/src/execution_step/boxed_value/scalar.rs
  air/src/execution_step/boxed_value/stream.rs
  air/src/execution_step/execution_context/scalar_variables.rs
  air/tests/test_module/features/data_merging/data_merge.rs
  air/tests/test_module/features/errors/last_error.rs
  air/tests/test_module/features/lambda/lambda.rs
  air/tests/test_module/features/streams/recursive_streams.rs
  air/tests/test_module/features/streams/streams.rs
  air/tests/test_module/features/streams/streams_early_exit.rs
  air/tests/test_module/features/tetraplets/security_tetraplets.rs
  air/tests/test_module/instructions/call.rs
  air/tests/test_module/instructions/fold.rs
  air/tests/test_module/instructions/match_.rs
  air/tests/test_module/instructions/mismatch.rs
  air/tests/test_module/instructions/new.rs
  air/tests/test_module/instructions/xor.rs
  air/tests/test_module/issues/issue_173.rs
  air/tests/test_module/issues/issue_221.rs
  air/tests/test_module/issues/issue_222.rs
  crates/air-lib/interpreter-data/src/executed_state.rs
  crates/air-lib/interpreter-data/src/executed_state/impls.rs
  crates/air-lib/interpreter-data/src/interpreter_data.rs
  crates/air-lib/interpreter-data/src/lib.rs
  crates/air-lib/interpreter-data/src/trace.rs
  crates/air-lib/interpreter-data/src/trace_pos.rs
  crates/air-lib/test-utils/src/executed_state.rs
  crates/air-lib/test-utils/src/lib.rs
  crates/air-lib/trace-handler/src/data_keeper/errors.rs
  crates/air-lib/trace-handler/src/data_keeper/keeper.rs
  crates/air-lib/trace-handler/src/data_keeper/merge_ctx.rs
  crates/air-lib/trace-handler/src/data_keeper/trace_slider.rs
  crates/air-lib/trace-handler/src/handler.rs
  crates/air-lib/trace-handler/src/merger/call_merger.rs
  crates/air-lib/trace-handler/src/merger/errors.rs
  crates/air-lib/trace-handler/src/merger/fold_merger/fold_lore_resolver.rs
  crates/air-lib/trace-handler/src/merger/position_mapping.rs
  crates/air-lib/trace-handler/src/state_automata/errors.rs
  crates/air-lib/trace-handler/src/state_automata/fold_fsm.rs
  crates/air-lib/trace-handler/src/state_automata/fold_fsm/lore_ctor.rs
  crates/air-lib/trace-handler/src/state_automata/fold_fsm/state_handler.rs
  crates/air-lib/trace-handler/src/state_automata/state_inserter.rs
  crates/air-lib/trace-handler/src/state_automata/utils.rs
Labels: C-enhancement, P-low, A-trace-handler

#277 Add API to save anomaly data
  Cargo.lock
  avm/server/Cargo.toml
  avm/server/src/avm.rs
  avm/server/src/errors.rs
  avm/server/src/interface/outcome.rs
  avm/server/src/interface/particle_parameters.rs
  avm/server/src/lib.rs
  crates/data-store/Cargo.toml
  crates/data-store/src/lib.rs
Labels: A-avm-server

#280 Add AIR script to the AquaVM's anomaly data
  Cargo.lock
  avm/server/Cargo.toml
  avm/server/src/avm.rs
  crates/data-store/Cargo.toml
  crates/data-store/src/lib.rs
Labels: C-bug, P-high, A-avm-server
