Repository fluencelabs/aquavm, pull requests merged in 2022-12, with the labels that each got.

#396 feat(testing-framework): tetraplet behavior
  crates/testing-framework/src/asserts/behavior.rs
  crates/testing-framework/src/asserts/mod.rs
  crates/testing-framework/src/asserts/parser.rs
  crates/testing-framework/src/execution/mod.rs
  crates/testing-framework/src/services/mod.rs
  crates/testing-framework/src/services/results.rs
Labels: P-low, A-tests, C-feature

#401 feat!(execution-engine): Store call results as CIDs in the data
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  air-interpreter/Cargo.toml
  air/Cargo.toml
  air/src/execution_step/air/call/call_result_setter.rs
  air/src/execution_step/errors/uncatchable_errors.rs
  air/src/execution_step/execution_context/context.rs
  air/src/execution_step/execution_context/streams_variables.rs
  air/src/execution_step/execution_context/streams_variables/utils.rs
  air/src/farewell_step/outcome.rs
  air/src/preparation_step/preparation.rs
  air/src/runner.rs
  air/tests/test_module/features/cid/mod.rs
  air/tests/test_module/features/data_merging/data_merge.rs
  air/tests/test_module/features/data_merging/executed_trace_basic.rs
  air/tests/test_module/features/mod.rs
  air/tests/test_module/features/streams/streams_early_exit.rs
  air/tests/test_module/instructions/seq.rs
  air/tests/test_module/issues/issue_295.rs
  avm/interface/CHANGELOG.md
  avm/interface/Cargo.toml
  avm/interface/src/raw_outcome.rs
  avm/server/CHANGELOG.md
  avm/server/Cargo.toml
  crates/air-lib/interpreter-cid/Cargo.toml
  crates/air-lib/interpreter-cid/src/lib.rs
  crates/air-lib/interpreter-data/CHANGELOG.md
  crates/air-lib/interpreter-data/Cargo.toml
  crates/air-lib/interpreter-data/src/cid_store.rs
  crates/air-lib/interpreter-data/src/executed_state.rs
  crates/air-lib/interpreter-data/src/executed_state/impls.rs
  crates/air-lib/interpreter-data/src/interpreter_data.rs
  crates/air-lib/interpreter-data/src/lib.rs
  crates/air-lib/interpreter-interface/CHANGELOG.md
  crates/air-lib/interpreter-interface/Cargo.toml
  crates/air-lib/interpreter-interface/src/interpreter_outcome.rs
  crates/air-lib/test-utils/Cargo.toml
  crates/air-lib/test-utils/src/executed_state.rs
  crates/air-lib/test-utils/src/lib.rs
  crates/air-lib/trace-handler/Cargo.toml
  crates/air-lib/trace-handler/src/data_keeper/keeper.rs
  crates/air-lib/trace-handler/src/data_keeper/merge_ctx.rs
  crates/air-lib/trace-handler/src/handler.rs
  crates/air-lib/trace-handler/src/merger/call_merger/utils.rs
  crates/air-lib/trace-handler/src/merger/errors.rs
Labels: C-feature, A-execution-engine

#414 fix(interpreter-interface): Remove the `cid` field
  CHANGELOG.md
  Cargo.lock
  air-interpreter/Cargo.toml
  air/Cargo.toml
  avm/interface/CHANGELOG.md
  avm/interface/Cargo.toml
  avm/interface/src/raw_outcome.rs
  avm/server/CHANGELOG.md
  avm/server/Cargo.toml
  crates/air-lib/interpreter-interface/CHANGELOG.md
  crates/air-lib/interpreter-interface/Cargo.toml
  crates/air-lib/interpreter-interface/src/interpreter_outcome.rs
Labels: A-avm-server, A-avm-client

#417 chore(execution-engine): rename air folder to instructions
  air/src/execution_step/instructions/ap.rs
  air/src/execution_step/instructions/ap/apply_to_arguments.rs
  air/src/execution_step/instructions/ap/utils.rs
  air/src/execution_step/instructions/call.rs
  air/src/execution_step/instructions/call/call_result_setter.rs
  air/src/execution_step/instructions/call/prev_result_handler.rs
  air/src/execution_step/instructions/call/resolved_call.rs
  air/src/execution_step/instructions/call/triplet.rs
  air/src/execution_step/instructions/canon.rs
  air/src/execution_step/instructions/compare_matchable/comparator.rs
  air/src/execution_step/instructions/compare_matchable/mod.rs
  air/src/execution_step/instructions/fail.rs
  air/src/execution_step/instructions/fold/fold_state.rs
  air/src/execution_step/instructions/fold/mod.rs
  air/src/execution_step/instructions/fold/utils.rs
  air/src/execution_step/instructions/fold_scalar.rs
  air/src/execution_step/instructions/fold_stream.rs
  air/src/execution_step/instructions/fold_stream/completeness_updater.rs
  air/src/execution_step/instructions/fold_stream/stream_cursor.rs
  air/src/execution_step/instructions/match_.rs
  air/src/execution_step/instructions/mismatch.rs
  air/src/execution_step/instructions/mod.rs
  air/src/execution_step/instructions/never.rs
  air/src/execution_step/instructions/new.rs
  air/src/execution_step/instructions/next.rs
  air/src/execution_step/instructions/null.rs
  air/src/execution_step/instructions/par.rs
  air/src/execution_step/instructions/par/completeness_updater.rs
  air/src/execution_step/instructions/seq.rs
  air/src/execution_step/instructions/xor.rs
  air/src/execution_step/mod.rs
Labels: A-execution-engine, C-naming

#416 chore(execution-engine): more handy way to work with subgraph_complete
  Cargo.lock
  air/src/execution_step/execution_context/context.rs
  air/src/execution_step/instructions/call/call_result_setter.rs
  air/src/execution_step/instructions/call/prev_result_handler.rs
  air/src/execution_step/instructions/call/resolved_call.rs
  air/src/execution_step/instructions/canon.rs
  air/src/execution_step/instructions/fail.rs
  air/src/execution_step/instructions/fold_stream.rs
  air/src/execution_step/instructions/fold_stream/completeness_updater.rs
  air/src/execution_step/instructions/mod.rs
  air/src/execution_step/instructions/never.rs
  air/src/execution_step/instructions/next.rs
  air/src/execution_step/instructions/par.rs
  air/src/execution_step/instructions/par/completeness_updater.rs
  air/src/execution_step/instructions/seq.rs
  air/src/execution_step/instructions/xor.rs
Labels: A-execution-engine, C-refactoring

#420 CI: Use files instead of memory to filter crate versions
  .github/workflows/publish_interpreter.yml
Labels: C-bug, P-medium, A-CI
