Repository fluencelabs/aquavm, pull requests merged in 2023-10, with the labels that each got.

#712 chore(benches): Update bench data
  benches/PERFORMANCE.json
  benches/PERFORMANCE.txt
  benches/performance_metering/big_values_data/prev_data.json
  benches/performance_metering/dashboard/cur_data.json
  benches/performance_metering/dashboard/prev_data.json
  benches/performance_metering/long_data/cur_data.json
  benches/performance_metering/multiple-cids10/cur_data.json
  benches/performance_metering/multiple-cids10/prev_data.json
  benches/performance_metering/multiple-cids50/cur_data.json
  benches/performance_metering/multiple-cids50/keypair.ed25519
  benches/performance_metering/multiple-cids50/params.json
  benches/performance_metering/multiple-cids50/prev_data.json
  benches/performance_metering/multiple-cids50/script.air
  benches/performance_metering/multiple-peers14/cur_data.json
  benches/performance_metering/multiple-peers14/keypair.ed25519
  benches/performance_metering/multiple-peers14/params.json
  benches/performance_metering/multiple-peers14/prev_data.json
  benches/performance_metering/multiple-peers14/script.air
  benches/performance_metering/multiple-peers5/cur_data.json
  benches/performance_metering/multiple-peers5/prev_data.json
  benches/performance_metering/network_explore/cur_data.json
  benches/performance_metering/network_explore/prev_data.json
Labels: P-low, A-tests, C-performance, e2e

#714 feat(execution-engine)!: fail :error: now bubbles the original error up [fixes VM-342]
  air/src/execution_step/errors/catchable_errors.rs
  air/src/execution_step/execution_context/context.rs
  air/src/execution_step/execution_context/instruction_error/error_descriptor.rs
  air/src/execution_step/execution_context/instruction_error/errors_utils.rs
  air/src/execution_step/execution_context/instruction_error/instruction_error_definition.rs
  air/src/execution_step/instructions/fail.rs
  air/src/execution_step/instructions/xor.rs
  air/src/execution_step/resolver/resolvable_impl.rs
  air/tests/test_module/features/errors/error.rs
  air/tests/test_module/instructions/fail.rs
  crates/testing-framework/src/asserts/behavior.rs
Labels: P-high, C-feature, A-execution-engine, e2e

#706 fix(execution-engine)!: map with a lens now returns an appropriate tetraplet [fixes VM-331]
  air/src/execution_step/lambda_applier/applier.rs
  air/src/execution_step/lambda_applier/mod.rs
  air/src/execution_step/value_types/jvaluable/canon_stream_map.rs
  air/tests/test_module/instructions/canon.rs
Labels: P-high, P-low, A-execution-engine, C-refactoring, e2e

#719 feat(execution-engine)!: intro farewell_if_error_macro
  air/src/runner.rs
  crates/air-lib/utils/src/lib.rs
Labels: A-execution-engine, C-refactoring, e2e

#718 feat(execution-engine,test-utils,interpreter-data,interpreter-cid)!: Rc into CID
  air/src/execution_step/errors/uncatchable_errors.rs
  air/src/execution_step/execution_context/cid_state.rs
  air/src/execution_step/instructions/call/call_result_setter.rs
  air/src/execution_step/instructions/call/resolved_call.rs
  air/src/execution_step/instructions/canon.rs
  air/src/execution_step/instructions/canon_map.rs
  air/src/execution_step/instructions/canon_stream_map_scalar.rs
  air/src/execution_step/instructions/canon_utils/mod.rs
  air/src/execution_step/value_types/canon_stream.rs
  air/src/execution_step/value_types/canon_stream_map.rs
  air/src/execution_step/value_types/scalar.rs
  air/src/execution_step/value_types/stream/stream_definition.rs
  air/src/execution_step/value_types/stream_map.rs
  air/tests/test_module/features/cid/canon.rs
  air/tests/test_module/features/cid/mod.rs
  air/tests/test_module/features/signatures/attacks.rs
  air/tests/test_module/features/signatures/corruption.rs
  air/tests/test_module/negative_tests/uncatchable_trace_unrelated.rs
  crates/air-lib/interpreter-cid/src/lib.rs
  crates/air-lib/interpreter-data/src/cid_store.rs
  crates/air-lib/interpreter-data/src/executed_state.rs
  crates/air-lib/interpreter-data/src/executed_state/impls.rs
  crates/air-lib/interpreter-data/src/interpreter_data/errors.rs
  crates/air-lib/interpreter-data/src/interpreter_data/verification.rs
  crates/air-lib/interpreter-signatures/Cargo.toml
  crates/air-lib/interpreter-signatures/src/trackers.rs
  crates/air-lib/test-utils/src/executed_state.rs
Labels: C-enhancement, P-medium, A-execution-engine, e2e

#724 chore(interpreter-cid): fix compilation with correct featureflag
  crates/air-lib/interpreter-cid/Cargo.toml
Labels: C-bug, P-critical, A-CI, e2e

#731 feat(air-interpreter)!: enable signature generation and verification features
  .github/workflows/tests.yml
  air-interpreter/Cargo.toml
Labels: C-feature, e2e
