Repository fluencelabs/aquavm, pull requests merged in 2023-09, with the labels that each got.

#689 chore: Setup marine artifact from checks
  .github/workflows/snapshot-air-interpreter-wasm.yml
  .github/workflows/tests.yml
Labels: e2e

#683 feat(execution-engine): a new :error: runtime attribute according with FLIP-11 [fixes VM-329]
  air/src/execution_step/errors/catchable_errors.rs
  air/src/execution_step/errors/error_effectable.rs
  air/src/execution_step/errors/execution_errors.rs
  air/src/execution_step/errors/mod.rs
  air/src/execution_step/execution_context/context.rs
  air/src/execution_step/execution_context/instruction_error/error_descriptor.rs
  air/src/execution_step/execution_context/instruction_error/errors.rs
  air/src/execution_step/execution_context/instruction_error/errors_utils.rs
  air/src/execution_step/execution_context/instruction_error/instruction_error_definition.rs
  air/src/execution_step/execution_context/instruction_error/last_error_descriptor.rs
  air/src/execution_step/execution_context/instruction_error/mod.rs
  air/src/execution_step/execution_context/last_error/mod.rs
  air/src/execution_step/execution_context/mod.rs
  air/src/execution_step/instructions/ap/apply_to_arguments.rs
  air/src/execution_step/instructions/call.rs
  air/src/execution_step/instructions/fail.rs
  air/src/execution_step/instructions/mod.rs
  air/src/execution_step/instructions/xor.rs
  air/src/execution_step/mod.rs
  air/src/execution_step/resolver/resolvable_impl.rs
  air/src/lib.rs
  air/tests/test_module/features/errors/last_error.rs
  air/tests/test_module/instructions/ap.rs
  air/tests/test_module/instructions/match_.rs
  air/tests/test_module/instructions/mismatch.rs
  air/tests/test_module/instructions/xor.rs
  air/tests/test_module/negative_tests/execution_step.rs
  crates/air-lib/air-parser/src/ast/instruction_arguments.rs
  crates/air-lib/air-parser/src/ast/instruction_arguments/traits.rs
  crates/air-lib/air-parser/src/ast/instructions.rs
  crates/air-lib/air-parser/src/ast/instructions/traits.rs
  crates/air-lib/air-parser/src/ast/values.rs
  crates/air-lib/air-parser/src/ast/values/impls.rs
  crates/air-lib/air-parser/src/parser/air.lalrpop
  crates/air-lib/air-parser/src/parser/air.rs
  crates/air-lib/air-parser/src/parser/lexer/air_lexer.rs
  crates/air-lib/air-parser/src/parser/lexer/mod.rs
  crates/air-lib/air-parser/src/parser/lexer/token.rs
  crates/air-lib/air-parser/src/parser/mod.rs
  crates/air-lib/air-parser/src/parser/validator.rs
  crates/testing-framework/src/transform/parser.rs
Labels: P-high, C-feature, A-execution-engine, A-air-parser, e2e

#691 feat(data)!: bump minimal support version
  air/src/preparation_step/interpreter_versions.rs
Labels: e2e

#697 feat(execution-engine): join behavior for canon
  air/src/execution_step/instructions/canon_utils/mod.rs
  air/tests/test_module/instructions/canon.rs
Labels: C-enhancement, P-high, A-execution-engine, e2e

#699 chore: Rust channel update dedicated to Software Engineer Day
  Cargo.lock
  air/src/execution_step/instructions/ap_map.rs
  air/src/execution_step/lambda_applier/applier.rs
  air/src/execution_step/mod.rs
  air/src/execution_step/value_types/stream/mod.rs
  air/src/execution_step/value_types/stream/stream_definition.rs
  air/tests/test_module/features/data_merging/executed_trace_basic.rs
  air/tests/test_module/features/lambda/flattening.rs
  air/tests/test_module/features/tetraplets/security_tetraplets/auth_module/Cargo.lock
  air/tests/test_module/features/tetraplets/security_tetraplets/log_storage/Cargo.lock
  avm/interface/src/outcome.rs
  crates/air-lib/air-parser/src/parser/lexer/call_variable_parser.rs
  crates/air-lib/air-parser/src/parser/lexer/mod.rs
  crates/air-lib/lambda/parser/src/parser/lexer/mod.rs
  crates/air-lib/trace-handler/src/data_keeper/mod.rs
  crates/air-lib/trace-handler/src/handler.rs
  crates/air-lib/trace-handler/src/merger/fold_merger.rs
  crates/air-lib/trace-handler/src/merger/fold_merger/fold_lore_resolver.rs
  crates/air-lib/trace-handler/src/merger/par_merger.rs
  crates/air-lib/trace-handler/src/state_automata/fold_fsm.rs
  crates/air-lib/trace-handler/src/state_automata/fold_fsm/lore_ctor.rs
  crates/air-lib/trace-handler/src/state_automata/par_fsm/state_handler.rs
  rust-toolchain.toml
Labels: P-high, e2e

#696 feat(parser,execution-engine): allow :error: in fail
  air/src/execution_step/instructions/fail.rs
  air/tests/test_module/instructions/fail.rs
  crates/air-lib/air-parser/src/ast/instructions.rs
  crates/air-lib/air-parser/src/ast/instructions/traits.rs
  crates/air-lib/air-parser/src/parser/air.lalrpop
  crates/air-lib/air-parser/src/parser/air.rs
  crates/beautifier/src/tests/beautifier.rs
Labels: P-high, C-feature, A-execution-engine, A-air-parser, e2e

#702 feat(execution-engine)!: this patch prohibits error code = 0
  air/src/execution_step/errors/catchable_errors.rs
  air/src/execution_step/execution_context/instruction_error/errors.rs
  air/src/execution_step/execution_context/instruction_error/instruction_error_definition.rs
  air/src/execution_step/execution_context/instruction_error/mod.rs
  air/src/execution_step/instructions/fail.rs
  air/src/execution_step/mod.rs
  air/src/lib.rs
  air/tests/test_module/features/errors/error.rs
  air/tests/test_module/features/errors/last_error.rs
  air/tests/test_module/features/errors/mod.rs
  air/tests/test_module/instructions/fail.rs
  crates/air-lib/air-parser/src/parser/air.lalrpop
  crates/air-lib/air-parser/src/parser/air.rs
  crates/air-lib/air-parser/src/parser/errors.rs
  crates/air-lib/air-parser/src/parser/tests/dsl.rs
  crates/air-lib/air-parser/src/parser/tests/fail.rs
  crates/air-lib/air-parser/src/parser/validator.rs
Labels: P-high, A-execution-engine, A-air-parser, e2e

#701 fix(execution-engine)!: this adds a join behavior for key and value pair used by ap inserting into a map [fixes VM-337]
  air/src/execution_step/instructions/ap_map.rs
  air/tests/test_module/instructions/ap.rs
Labels: C-bug, P-high, A-execution-engine, e2e

#704 chore: fix typos
  README.md
  docs/AIR.md
  docs/update-guide.md
Labels: C-docs, e2e

#705 fix(execution-engine): ExecutionCtx fmt now prints stream maps out
  air/src/execution_step/execution_context/context.rs
Labels: P-low, A-execution-engine, e2e

#708 fix(execution-engine)!: canon map lens access now returns a correct number of kvpairs in a canon stream
  air/src/execution_step/execution_context/stream_maps_variables/stream_map_key.rs
  air/src/execution_step/instructions/canon_map.rs
  air/src/execution_step/value_types/stream_map.rs
  air/tests/test_module/instructions/canon.rs
Labels: C-bug, P-high, A-execution-engine, e2e
