Repository fluencelabs/aquavm, pull requests merged in 2023-03, with the labels that each got.

#489 fix: negative tests for prepare_step and farewell_step [fixes VM-251]
  air/src/lib.rs
  air/tests/test_module/negative_tests/farewell_step.rs
  air/tests/test_module/negative_tests/mod.rs
  air/tests/test_module/negative_tests/preparation_step.rs
Labels: C-enhancement, A-tests, T-testing

#492 feat(execution-engine)!: make StreamDontHaveSuchGeneration uncatchable…
  Cargo.lock
  air/src/execution_step/boxed_value/jvaluable/stream.rs
  air/src/execution_step/boxed_value/stream.rs
  air/src/execution_step/errors/catchable_errors.rs
  air/src/execution_step/errors/uncatchable_errors.rs
Labels: C-dx, A-execution-engine

#505 fix(air): demote some AquaVM logging statements
  air/src/execution_step/errors/catchable_errors.rs
  air/src/execution_step/instructions/call.rs
  air/src/execution_step/instructions/xor.rs
Labels: C-enhancement, P-high, C-dx, A-execution-engine

#511 chore(execution-engine): VM execution step negative tests [fixes VM-262]
  air/src/execution_step/errors/catchable_errors.rs
  air/tests/test_module/negative_tests/execution_step.rs
  air/tests/test_module/negative_tests/mod.rs
Labels: A-tests, A-execution-engine

#513 chore(execution-engine): unused ApResultNotCorrespondToInstr cleanup
  air/src/execution_step/errors/uncatchable_errors.rs
  air/src/execution_step/instructions/ap.rs
  air/src/execution_step/instructions/ap/utils.rs
  air/tests/test_module/features/cid/canon.rs
  air/tests/test_module/features/cid/mod.rs
Labels: A-tests, C-dx, A-execution-engine

#509 feat(tools): merge some tools into the `air` CLI tool
  .github/release-please/config.json
  .github/release-please/manifest.json
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  air-interpreter/Cargo.toml
  air/Cargo.toml
  air/tests/test_module/features/tetraplets/security_tetraplets/auth_module/Cargo.toml
  air/tests/test_module/features/tetraplets/security_tetraplets/log_storage/Cargo.toml
  air/tracing_benches.sh
  crates/air-lib/air-parser/Cargo.toml
  crates/air-lib/execution-info-collector/Cargo.toml
  crates/air-lib/interpreter-data/Cargo.toml
  crates/air-lib/lambda/ast/Cargo.toml
  crates/air-lib/lambda/parser/Cargo.toml
  crates/air-lib/log-targets/Cargo.toml
  crates/air-lib/test-utils/Cargo.toml
  crates/air-lib/trace-handler/Cargo.toml
  crates/beautifier/Cargo.toml
  crates/testing-framework/Cargo.toml
  tools/cli/air-beautify/Cargo.toml
  tools/cli/air/CHANGELOG.md
  tools/cli/air/Cargo.toml
  tools/cli/air/README.md
  tools/cli/air/src/beautify/mod.rs
  tools/cli/air/src/main.rs
  tools/cli/air/src/trace/mod.rs
  tools/cli/air/src/trace/run.rs
  tools/cli/air/src/trace/run/data/anomaly.rs
  tools/cli/air/src/trace/run/data/mod.rs
  tools/cli/air/src/trace/run/data/plain.rs
  tools/cli/air/src/trace/run/native.rs
  tools/cli/air/src/trace/run/runner.rs
  tools/cli/air/src/trace/run/wasm.rs
  tools/cli/air/src/trace/stats.rs
  tools/cli/air/src/trace/stats/log_data.rs
  tools/cli/air/src/trace/stats/report.rs
  tools/cli/air/src/trace/utils.rs
  tools/cli/performance_metering/README.md
  tools/cli/performance_metering/performance_metering/bench.py
  tools/cli/performance_metering/performance_metering/run.py
Labels: C-enhancement, P-medium

#519 chore(execution-engine): a set of trace-unrelated negative tests for UncatableError [fixes VM-263]
  air/tests/test_module/negative_tests/mod.rs
  air/tests/test_module/negative_tests/uncatchable_trace_unrelated.rs
Labels: A-tests, A-execution-engine

#527 chore(execution-engine): remove unnecessary value_to_pos logic
  air/src/execution_step/boxed_value/stream.rs
  air/src/execution_step/errors/uncatchable_errors.rs
Labels: A-execution-engine

#532 chore(execution-engine): this commit adds a set of trace-related negative tests for UncatchableError [fixes VM-263]
  air/tests/test_module/negative_tests/mod.rs
  air/tests/test_module/negative_tests/uncatchable_trace_related.rs
  air/tests/test_module/negative_tests/uncatchable_trace_unrelated.rs
  crates/air-lib/trace-handler/src/lib.rs
  crates/air-lib/trace-handler/src/merger/mod.rs
Labels: A-tests, A-execution-engine

#501 feat(interpreter-data)!: New data format for calls
  air/src/execution_step/errors/uncatchable_errors.rs
  air/src/execution_step/execution_context/cid_state.rs
  air/src/execution_step/execution_context/context.rs
  air/src/execution_step/execution_context/mod.rs
  air/src/execution_step/instructions/call/call_result_setter.rs
  air/src/execution_step/instructions/call/prev_result_handler.rs
  air/src/execution_step/instructions/call/resolved_call.rs
  air/src/lib.rs
  air/tests/test_module/features/cid/canon.rs
  air/tests/test_module/features/cid/mod.rs
  air/tests/test_module/features/data_merging/air_basic.rs
  air/tests/test_module/features/data_merging/data_merge.rs
  air/tests/test_module/features/data_merging/executed_trace_basic.rs
  air/tests/test_module/features/errors/last_error.rs
  air/tests/test_module/features/lambda/functors.rs
  air/tests/test_module/features/lambda/lambda.rs
  air/tests/test_module/features/misc/empty_array.rs
  air/tests/test_module/features/scopes/scalars_scope.rs
  air/tests/test_module/features/scopes/scopes_behaviour_with_errors.rs
  air/tests/test_module/features/streams/recursive_streams.rs
  air/tests/test_module/features/streams/streams.rs
  air/tests/test_module/features/streams/streams_early_exit.rs
  air/tests/test_module/features/tetraplets/security_tetraplets.rs
  air/tests/test_module/instructions/ap.rs
  air/tests/test_module/instructions/call.rs
  air/tests/test_module/instructions/canon.rs
  air/tests/test_module/instructions/fold.rs
  air/tests/test_module/instructions/match_.rs
  air/tests/test_module/instructions/mismatch.rs
  air/tests/test_module/instructions/new.rs
  air/tests/test_module/instructions/seq.rs
  air/tests/test_module/instructions/xor.rs
  air/tests/test_module/integration/chat_join.rs
  air/tests/test_module/integration/create_service.rs
  air/tests/test_module/issues/issue_173.rs
  air/tests/test_module/issues/issue_206.rs
  air/tests/test_module/issues/issue_211.rs
  air/tests/test_module/issues/issue_214.rs
  air/tests/test_module/issues/issue_216.rs
  air/tests/test_module/issues/issue_221.rs
  air/tests/test_module/issues/issue_222.rs
  air/tests/test_module/issues/issue_241.rs
  air/tests/test_module/issues/issue_295.rs
  air/tests/test_module/issues/issue_300.rs
  air/tests/test_module/issues/issue_302.rs
  air/tests/test_module/negative_tests/uncatchable_trace_related.rs
  air/tests/test_module/negative_tests/uncatchable_trace_unrelated.rs
  crates/air-lib/interpreter-data/src/executed_state.rs
  crates/air-lib/interpreter-data/src/executed_state/impls.rs
  crates/air-lib/interpreter-data/src/executed_state/se_de.rs
  crates/air-lib/interpreter-data/src/interpreter_data.rs
  crates/air-lib/test-utils/src/executed_state.rs
  crates/air-lib/test-utils/src/lib.rs
  crates/air-lib/trace-handler/src/merger/call_merger.rs
  crates/air-lib/trace-handler/src/merger/call_merger/utils.rs
  crates/testing-framework/src/execution/mod.rs
Labels: C-enhancement, A-trace-handler, A-tests, A-execution-engine

#540 feat(aquavm-air-cli)!: Usability enhancements
  .github/release-please/config.json
  Cargo.lock
  air/tracing_benches.sh
  tools/cli/air/Cargo.toml
  tools/cli/air/README.md
  tools/cli/air/src/trace/run.rs
  tools/cli/air/src/trace/run/data/plain.rs
  tools/cli/performance_metering/performance_metering/bench.py
Labels: C-dx

#557 chore: Update E2E [fixes FLU-297 and FLU-252 and FLU-298]
  .config/nextest.toml
  .github/workflows/e2e.yml
  .github/workflows/run-tests.yml
  .github/workflows/snapshot-air-beautify-wasm.yml
  .github/workflows/snapshot-air-interpreter-wasm.yml
  .github/workflows/snapshot-avm.yml
  .github/workflows/snapshot-cargo.yml
  .github/workflows/snapshot.yml
  .github/workflows/tests.yml
Labels: e2e

#560 chore: Prepare tests to be called from e2e
  .github/workflows/tests.yml
Labels: e2e
