Repository fluencelabs/aquavm, pull requests merged in 2023-02, with the labels that each got.

#429 fix(air-trace): `air-trace` native mode compilation fix
  .github/workflows/ci.yml
  Cargo.lock
  tools/cli/air-trace/Cargo.toml
  tools/cli/air-trace/src/run.rs
Labels: C-bug, P-low

#351 feat(execution-engine)!: make fold convergent wrt errors
  Cargo.lock
  air/src/execution_step/instructions/fold_stream.rs
  air/src/execution_step/instructions/fold_stream/completeness_updater.rs
  air/tests/test_module/features/streams/recursive_streams.rs
  air/tests/test_module/features/streams/scripts/fold_early_exit.air
  air/tests/test_module/features/streams/streams_early_exit.rs
Labels: C-enhancement, A-execution-engine, T-determinism

#464 chore(bench): add bench results
  benches/PERFORMANCE.json
  benches/PERFORMANCE.txt
  tools/cli/performance_metering/.gitignore
Labels: C-performance

#465 chore(bench): add bench results
  benches/PERFORMANCE.json
  benches/PERFORMANCE.txt
Labels: C-performance
