Repository fluencelabs/aquavm, pull requests merged in 2023-04, with the labels that each got.

#567 chore(trace-handler): fix fmt and clippy warnings
  crates/air-lib/interpreter-data/src/executed_state/impls.rs
  crates/air-lib/trace-handler/src/handler.rs
Labels: A-trace-handler, C-refactoring, e2e

#530 feat(air): introduce explicit types for generation numbers
  air/src/execution_step/boxed_value/stream.rs
  air/src/execution_step/execution_context/streams_variables.rs
  air/src/execution_step/execution_context/streams_variables/utils.rs
  air/src/execution_step/instructions/ap.rs
  air/src/execution_step/instructions/fold_stream/stream_cursor.rs
  air/src/execution_step/instructions/new.rs
  air/tests/test_module/features/streams/streams_early_exit.rs
  air/tests/test_module/instructions/new.rs
  air/tests/test_module/issues/issue_173.rs
  air/tests/test_module/issues/issue_295.rs
  air/tests/test_module/negative_tests/uncatchable_trace_related.rs
  crates/air-lib/interpreter-data/src/executed_state.rs
  crates/air-lib/interpreter-data/src/executed_state/impls.rs
  crates/air-lib/interpreter-data/src/generation_idx.rs
  crates/air-lib/interpreter-data/src/lib.rs
  crates/air-lib/interpreter-data/src/stream_generations.rs
  crates/air-lib/test-utils/src/executed_state.rs
  crates/air-lib/trace-handler/src/data_keeper/merge_ctx.rs
  crates/air-lib/trace-handler/src/handler.rs
  crates/air-lib/trace-handler/src/merger/ap_merger.rs
  crates/air-lib/trace-handler/src/merger/fold_merger/fold_lore_resolver.rs
Labels: A-trace-handler, C-dx, A-execution-engine, T-hardening, e2e

#574 feat(execution-engine): introduce resolver
  air/src/execution_step/boxed_value/jvaluable.rs
  air/src/execution_step/boxed_value/jvaluable/stream.rs
  air/src/execution_step/boxed_value/mod.rs
  air/src/execution_step/boxed_value/variable.rs
  air/src/execution_step/instructions/ap.rs
  air/src/execution_step/instructions/ap/apply_to_arguments.rs
  air/src/execution_step/instructions/call/resolved_call.rs
  air/src/execution_step/instructions/call/triplet.rs
  air/src/execution_step/instructions/compare_matchable/comparator.rs
  air/src/execution_step/instructions/compare_matchable/mod.rs
  air/src/execution_step/instructions/fail.rs
  air/src/execution_step/resolver/mod.rs
  air/src/execution_step/resolver/resolvable_impl.rs
  air/src/execution_step/resolver/resolve.rs
Labels: C-enhancement, A-execution-engine, e2e

#575 fix(execution-engine): this removes an unused and impossible check
  air/src/execution_step/boxed_value/stream.rs
Labels: C-bug, P-low, A-execution-engine, e2e

#579 chore: rust channel update dedicated to Yuri's Night
  air/src/execution_step/instructions/call/prev_result_handler.rs
  rust-toolchain.toml
Labels: P-low, A-CI, e2e

#578 fix(execution-engine): Fold-over-scalar values' wrong lambda
  air/src/execution_step/boxed_value/iterable/lambda_result.rs
  air/src/execution_step/boxed_value/iterable/resolved_call.rs
  air/tests/test_module/features/tetraplets/security_tetraplets.rs
  air/tests/test_module/issues/issue_211.rs
Labels: A-lambda, e2e

#563 chore: Readd registry and fluence-cli [fixes FLU-314]
  .github/workflows/e2e.yml
Labels: e2e
