Repository fluencelabs/aquavm, pull requests merged in 2023-07, with the labels that each got.

#626 chore: remove unused dependecies
  Cargo.lock
  air/Cargo.toml
  crates/air-lib/interpreter-data/Cargo.toml
  crates/air-lib/lambda/ast/Cargo.toml
  crates/air-lib/lambda/parser/Cargo.toml
  crates/air-lib/trace-handler/Cargo.toml
Labels: e2e

#615 chore: Renaming things
  .github/workflows/e2e.yml
Labels: e2e

#631 feat(aquavm-air)!: `ap` join behavior
  air/src/execution_step/instructions/ap.rs
  air/tests/test_module/features/join_behaviour/join_behaviour.rs
  air/tests/test_module/issues/issue_632.rs
  air/tests/test_module/issues/mod.rs
  air/tests/test_module/negative_tests/execution_step.rs
Labels: C-enhancement, A-execution-engine, e2e

#630 fix(air-beautifier): print fold's last_instruction
  crates/beautifier/src/beautifier.rs
  crates/beautifier/src/tests/beautifier.rs
Labels: C-bug, e2e

#628 feat(execution-engine)!: unfefined %last_error% now returns an empty …
  air/src/execution_step/execution_context/last_error/last_error_definition.rs
  air/src/execution_step/execution_context/last_error/last_error_descriptor.rs
  air/src/execution_step/execution_context/last_error/mod.rs
  air/src/lib.rs
  air/tests/test_module/features/errors/last_error.rs
  air/tests/test_module/instructions/ap.rs
  air/tests/test_module/instructions/match_.rs
  air/tests/test_module/negative_tests/execution_step.rs
Labels: P-low, A-execution-engine, e2e

#622 feat(execution-engine)!: add error-code invariant check for match/mismatch
  air/src/execution_step/errors/catchable_errors.rs
  air/tests/test_module/instructions/match_.rs
  air/tests/test_module/instructions/mismatch.rs
  crates/testing-framework/src/execution/mod.rs
Labels: P-low, A-execution-engine, e2e

#633 feat(air-test-utils): `print_trace` prints values
  crates/air-lib/test-utils/src/lib.rs
Labels: P-low, A-tests, C-dx, T-testing, e2e

#635 chore(execution-engine): move get_unique_map_keys_stream into StreamMap
  air/src/execution_step/boxed_value/stream.rs
  air/src/execution_step/boxed_value/stream_map.rs
  air/src/execution_step/instructions/canon.rs
  air/src/execution_step/instructions/canon_stream_map_scalar.rs
Labels: C-refactoring, e2e

#636 chore(execution-engine): refactor unseen canon stream creation
  air/src/execution_step/boxed_value/canon_stream.rs
  air/src/execution_step/boxed_value/stream.rs
  air/src/execution_step/boxed_value/stream_map.rs
  air/src/execution_step/execution_context/cid_state.rs
  air/src/execution_step/instructions/call/call_result_setter.rs
  air/src/execution_step/instructions/call/prev_result_handler.rs
  air/src/execution_step/instructions/canon.rs
  air/src/execution_step/instructions/canon_stream_map_scalar.rs
  air/src/execution_step/instructions/canon_utils/mod.rs
  air/src/execution_step/instructions/mod.rs
  air/tests/test_module/features/cid/canon.rs
  air/tests/test_module/negative_tests/uncatchable_trace_unrelated.rs
  crates/air-lib/interpreter-data/src/cid_store.rs
  crates/air-lib/interpreter-data/src/executed_state/impls.rs
  crates/air-lib/test-utils/src/executed_state.rs
Labels: A-execution-engine, C-refactoring, T-hardening, e2e

#637 chore: run llvm-cov on default features only
  .github/workflows/tests.yml
Labels: A-CI, e2e

#638 chore(execution-engine): optimize `StreamMapKey::from_kvpair`
  air/src/execution_step/execution_context/stream_maps_variables/stream_map_key.rs
Labels: A-execution-engine, C-performance, e2e

#618 feat(air-parser): canon stream syntax
  crates/air-lib/air-parser/src/parser/lexer/call_variable_parser.rs
  crates/air-lib/air-parser/src/parser/lexer/errors.rs
  crates/air-lib/air-parser/src/parser/lexer/tests.rs
Labels: P-low, A-air-parser, e2e

#641 chore(execution-engine): fix instruction names while logging
  air/src/execution_step/instructions/ap.rs
  air/src/execution_step/instructions/ap_map.rs
  air/src/execution_step/instructions/canon.rs
  air/src/execution_step/instructions/canon_stream_map_scalar.rs
  air/src/execution_step/instructions/mismatch.rs
  air/src/execution_step/instructions/never.rs
Labels: A-execution-engine, T-testing, e2e
