Repository fluencelabs/aquavm, pull requests merged in 2023-12, with the labels that each got.

#767 feat(air-parser)!: optimize Instruction type layout
  air/src/lib.rs
  air/src/preparation_step/preparation.rs
  benches/PERFORMANCE.json
  benches/PERFORMANCE.txt
  crates/air-lib/air-parser/benches/parser.rs
  crates/air-lib/air-parser/src/ast/instructions.rs
  crates/air-lib/air-parser/src/ast/instructions/impls.rs
  crates/air-lib/air-parser/src/parser/air.lalrpop
  crates/air-lib/air-parser/src/parser/air.rs
  crates/air-lib/air-parser/src/parser/air_parser.rs
  crates/air-lib/air-parser/src/parser/tests/call.rs
  crates/air-lib/air-parser/src/parser/tests/dsl.rs
  crates/air-lib/air-parser/src/parser/tests/mod.rs
  crates/beautifier/src/beautifier.rs
  junk/gen-bench-data/gen_benchmark_data.sh
  junk/gen-bench-data/src/main.rs
Labels: C-enhancement, P-medium, A-air-parser, T-optimization, e2e

#757 feat(data)!: flexible serialization formats
  Cargo.lock
  Cargo.toml
  air-interpreter/src/marine.rs
  air-interpreter/src/wasm_bindgen.rs
  air/Cargo.toml
  air/src/execution_step/errors/uncatchable_errors.rs
  air/src/execution_step/instructions/call/resolved_call.rs
  air/src/farewell_step/outcome.rs
  air/src/preparation_step/errors.rs
  air/src/preparation_step/preparation.rs
  air/src/runner.rs
  air/tests/test_module/features/misc/version_check.rs
  air/tests/test_module/features/signatures/algorithms.rs
  air/tests/test_module/features/signatures/attacks.rs
  air/tests/test_module/features/signatures/corruption.rs
  air/tests/test_module/features/signatures/runtime.rs
  air/tests/test_module/negative_tests/farewell_step.rs
  air/tests/test_module/negative_tests/preparation_step.rs
  air/tests/test_module/negative_tests/uncatchable_trace_related.rs
  avm/client/src/avmHelpers.ts
  avm/interface/Cargo.toml
  avm/interface/src/call_request_parameters.rs
  avm/interface/src/call_service_result.rs
  avm/interface/src/lib.rs
  avm/interface/src/raw_outcome.rs
  avm/server/Cargo.toml
  avm/server/src/runner.rs
  benches/PERFORMANCE.json
  benches/PERFORMANCE.txt
  crates/air-lib/interpreter-data/Cargo.toml
  crates/air-lib/interpreter-data/src/interpreter_data.rs
  crates/air-lib/interpreter-data/src/interpreter_data/repr.rs
  crates/air-lib/interpreter-interface/Cargo.toml
  crates/air-lib/interpreter-interface/src/call_request_parameters.rs
  crates/air-lib/interpreter-interface/src/call_service_result.rs
  crates/air-lib/interpreter-interface/src/interpreter_outcome.rs
  crates/air-lib/interpreter-sede/Cargo.toml
  crates/air-lib/interpreter-sede/src/format.rs
  crates/air-lib/interpreter-sede/src/lib.rs
  crates/air-lib/interpreter-sede/src/multiformat.rs
  crates/air-lib/interpreter-sede/src/representation.rs
  crates/air-lib/interpreter-sede/src/rmp_serde.rs
  crates/air-lib/interpreter-sede/src/serde_json.rs
  crates/air-lib/interpreter-sede/src/serialized_type.rs
  crates/air-lib/test-utils/Cargo.toml
  crates/air-lib/test-utils/src/lib.rs
  crates/air-lib/test-utils/src/native_test_runner.rs
  crates/air-lib/test-utils/src/test_runner.rs
  junk/gen-bench-data/Cargo.toml
  junk/gen-bench-data/src/cid_benchmarking/mod.rs
  junk/gen-bench-data/src/main.rs
  tools/cli/air/Cargo.toml
  tools/cli/air/src/trace/run.rs
  tools/cli/air/src/trace/run/data/anomaly.rs
  tools/cli/air/src/trace/run/data/mod.rs
  tools/cli/air/src/trace/run/data/plain.rs
  tools/cli/air/src/trace/run/native.rs
  tools/cli/performance_metering/performance_metering/bench.py
Labels: C-enhancement, P-high, A-tests, A-avm-server, T-hardening, e2e

#769 chore: use resolver 2 and 2021 edition
  Cargo.toml
  air-interpreter/Cargo.toml
  air/Cargo.toml
  air/src/execution_step/lambda_applier/applier.rs
  air/src/execution_step/lambda_applier/utils.rs
  air/src/execution_step/mod.rs
  air/src/execution_step/value_types/stream/stream_definition.rs
  air/src/lib.rs
  air/src/preparation_step/preparation.rs
  air/tests/test_module/features/tetraplets/security_tetraplets/auth_module/Cargo.lock
  air/tests/test_module/features/tetraplets/security_tetraplets/auth_module/Cargo.toml
  air/tests/test_module/features/tetraplets/security_tetraplets/log_storage/Cargo.toml
  air/tests/test_module/issues/issue_178.rs
  avm/interface/Cargo.toml
  avm/server/Cargo.toml
  crates/air-lib/air-parser/Cargo.toml
  crates/air-lib/execution-info-collector/Cargo.toml
  crates/air-lib/interpreter-cid/Cargo.toml
  crates/air-lib/interpreter-data/Cargo.toml
  crates/air-lib/interpreter-data/src/trace_pos.rs
  crates/air-lib/interpreter-interface/Cargo.toml
  crates/air-lib/interpreter-signatures/Cargo.toml
  crates/air-lib/interpreter-signatures/src/lib.rs
  crates/air-lib/lambda/ast/Cargo.toml
  crates/air-lib/lambda/ast/src/ast/impls.rs
  crates/air-lib/lambda/parser/Cargo.toml
  crates/air-lib/lambda/parser/src/parser/lambda_parser.rs
  crates/air-lib/log-targets/Cargo.toml
  crates/air-lib/polyplets/Cargo.toml
  crates/air-lib/test-utils/Cargo.toml
  crates/air-lib/test-utils/src/key_utils.rs
  crates/air-lib/test-utils/src/lib.rs
  crates/air-lib/trace-handler/Cargo.toml
  crates/air-lib/utils/Cargo.toml
  crates/beautifier/Cargo.toml
  crates/data-store/Cargo.toml
  crates/interpreter-wasm/Cargo.toml
  crates/testing-framework/Cargo.toml
  tools/wasm/air-near-contract/Cargo.toml
Labels: e2e

#772 chore(deps): update near-sdk
  Cargo.lock
  tools/cli/air/Cargo.toml
Labels: e2e

#681 feat(air-cli)!: introduce risc-0 extension
  .github/workflows/run-tests.yml
  .github/workflows/tests.yml
  Cargo.lock
  crates/air-lib/interpreter-signatures/src/lib.rs
  crates/risc-0/.gitignore
  crates/risc-0/Cargo.toml
  crates/risc-0/LICENSE
  crates/risc-0/core/Cargo.toml
  crates/risc-0/core/src/lib.rs
  crates/risc-0/methods/Cargo.toml
  crates/risc-0/methods/build.rs
  crates/risc-0/methods/guest/Cargo.toml
  crates/risc-0/methods/guest/src/main.rs
  crates/risc-0/methods/src/lib.rs
  tools/cli/air/Cargo.toml
  tools/cli/air/src/trace/run.rs
  tools/cli/air/src/trace/run/risc0.rs
Labels: e2e

#777 chore: Add risc0 to release-please
  .github/release-please/config.json
  .github/release-please/manifest.json
Labels: e2e

#776 feat(avm-client): implement pluggable formats in JS
  avm/client/package-lock.json
  avm/client/package.json
  avm/client/src/avmHelpers.ts
  avm/client/src/formats.ts
  avm/client/src/index.ts
Labels: P-high, C-feature, A-avm-client, C-performance, T-optimization, e2e

#779 chore(perf): database data update
  benches/PERFORMANCE.json
  benches/PERFORMANCE.txt
Labels: C-performance, e2e

#775 feat(data)!: values are binary blobs
  air/src/execution_step/execution_context/cid_state.rs
  air/tests/test_module/features/data_merging/data_merge.rs
  air/tests/test_module/features/signatures/corruption.rs
  air/tests/test_module/negative_tests/uncatchable_trace_unrelated.rs
  crates/air-lib/interpreter-cid/src/lib.rs
  crates/air-lib/interpreter-cid/src/verify.rs
  crates/air-lib/interpreter-data/Cargo.toml
  crates/air-lib/interpreter-data/src/cid_info.rs
  crates/air-lib/interpreter-data/src/cid_store.rs
  crates/air-lib/interpreter-data/src/executed_state.rs
  crates/air-lib/interpreter-data/src/executed_state/impls.rs
  crates/air-lib/interpreter-data/src/lib.rs
  crates/air-lib/interpreter-data/src/raw_value.rs
  crates/air-lib/test-utils/src/executed_state.rs
Labels: P-high, A-execution-engine, C-performance, T-optimization, e2e

#774 feat(air-parser): VM-347 After next validator fold check
  air/tests/test_module/features/data_merging/data_merge.rs
  air/tests/test_module/features/data_merging/scripts/inner_folds_v1.air
  air/tests/test_module/features/streams/ap_with_fold.rs
  air/tests/test_module/features/streams/scripts/stream_fold_merging_v1.air
  air/tests/test_module/features/streams/streams.rs
  benches/PERFORMANCE.json
  benches/PERFORMANCE.txt
  crates/air-lib/air-parser/src/parser/air.lalrpop
  crates/air-lib/air-parser/src/parser/air.rs
  crates/air-lib/air-parser/src/parser/errors.rs
  crates/air-lib/air-parser/src/parser/tests/fold.rs
  crates/air-lib/air-parser/src/parser/validator.rs
Labels: P-high, C-feature, A-air-parser, T-hardening, e2e
