Repository fluencelabs/aquavm, pull requests merged in 2024-02, with the labels that each got.

#806 chore(performance): use `fluence-blake3` with wasm32 SIMD support
  Cargo.lock
  benches/PERFORMANCE.json
  benches/PERFORMANCE.txt
  crates/air-lib/interpreter-cid/Cargo.toml
  crates/air-lib/interpreter-cid/src/lib.rs
  crates/air-lib/interpreter-cid/src/verify.rs
Labels: C-performance, T-optimization, e2e

#812 chore(performance,test): periodic bench results sync
  benches/PERFORMANCE.json
  benches/PERFORMANCE.txt
Labels: e2e

#811 feat(execution-engine): aquavm args limits
  air/src/farewell_step/outcome.rs
  air/src/preparation_step/errors.rs
  air/src/preparation_step/mod.rs
  air/src/preparation_step/preparation.rs
  air/src/preparation_step/sizes_limits_check.rs
  air/src/runner.rs
  air/tests/test_module/features/signatures/algorithms.rs
  air/tests/test_module/features/signatures/attacks.rs
  air/tests/test_module/features/signatures/runtime.rs
  air/tests/test_module/issues/issue_632.rs
  air/tests/test_module/negative_tests/preparation_step.rs
  avm/client/src/avmHelpers.ts
  avm/interface/src/lib.rs
  avm/interface/src/outcome.rs
  avm/interface/src/raw_outcome.rs
  avm/server/src/avm.rs
  avm/server/src/avm_runtime_limits.rs
  avm/server/src/lib.rs
  avm/server/src/runner.rs
  benches/PERFORMANCE.json
  benches/PERFORMANCE.txt
  crates/air-lib/interpreter-interface/src/interpreter_outcome.rs
  crates/air-lib/interpreter-interface/src/lib.rs
  crates/air-lib/interpreter-interface/src/run_args_memory_limits.rs
  crates/air-lib/interpreter-interface/src/run_parameters.rs
  crates/air-lib/test-utils/src/native_test_runner.rs
  crates/air-lib/test-utils/src/test_runner.rs
  crates/air-lib/test-utils/src/wasm_test_runner.rs
  crates/air-lib/utils/src/lib.rs
  crates/testing-framework/src/ephemeral/mod.rs
  crates/testing-framework/src/ephemeral/neighborhood.rs
  crates/testing-framework/src/execution/mod.rs
  crates/testing-framework/src/transform/walker.rs
  junk/gen-bench-data/Cargo.lock
  junk/gen-bench-data/src/calls.rs
  junk/gen-bench-data/src/dashboard.rs
  junk/gen-bench-data/src/main.rs
  junk/gen-bench-data/src/network_explore.rs
  tools/cli/air/Cargo.toml
  tools/cli/air/src/data.rs
  tools/cli/air/src/trace/run.rs
  tools/cli/air/src/trace/run/data/anomaly.rs
  tools/cli/air/src/trace/run/data/mod.rs
  tools/cli/air/src/trace/run/data/plain.rs
  tools/cli/air/src/trace/run/native.rs
  tools/cli/air/src/trace/run/runner.rs
  tools/cli/air/src/trace/run/wasm.rs
Labels: P-high, C-feature, A-memory, A-execution-engine, T-hardening, e2e

#818 feat(avm-server): add a convenience method to hide implementation from nox
  crates/air-lib/interpreter-interface/src/interpreter_outcome.rs
Labels: C-enhancement, A-avm-server, A-air-interpreter

#819 feat(performance)!: update perf database and trigger a minor version bump
  benches/PERFORMANCE.json
  benches/PERFORMANCE.txt
Labels: C-performance, e2e

#820 feat!: update marine-rs-sdk to 0.14.0, remove all of json_path remains
  Cargo.lock
  air-interpreter/Cargo.toml
  air/Cargo.toml
  air/src/execution_step/instructions/ap/apply_to_arguments.rs
  air/src/execution_step/instructions/canon_stream_map_scalar.rs
  air/src/execution_step/lambda_applier/applier.rs
  air/src/execution_step/value_types/iterable/lambda_result.rs
  air/src/execution_step/value_types/iterable/resolved_call.rs
  air/src/execution_step/value_types/scalar.rs
  air/src/execution_step/value_types/utils.rs
  air/tests/test_module/features/cid/canon.rs
  air/tests/test_module/features/errors/last_error.rs
  air/tests/test_module/features/join_behaviour/join_behaviour.rs
  air/tests/test_module/features/lambda/functors.rs
  air/tests/test_module/features/signatures/attacks.rs
  air/tests/test_module/features/signatures/corruption.rs
  air/tests/test_module/features/signatures/runtime.rs
  air/tests/test_module/features/signatures/signing.rs
  air/tests/test_module/features/tetraplets/provenance.rs
  air/tests/test_module/features/tetraplets/security_tetraplets.rs
  air/tests/test_module/features/tetraplets/security_tetraplets/auth_module/Cargo.toml
  air/tests/test_module/features/tetraplets/security_tetraplets/auth_module/src/main.rs
  air/tests/test_module/features/tetraplets/security_tetraplets/log_storage/Cargo.toml
  air/tests/test_module/features/tetraplets/security_tetraplets/log_storage/src/main.rs
  air/tests/test_module/instructions/ap.rs
  air/tests/test_module/instructions/call.rs
  air/tests/test_module/instructions/canon.rs
  air/tests/test_module/instructions/fold.rs
  air/tests/test_module/instructions/new.rs
  air/tests/test_module/issues/issue_211.rs
  air/tests/test_module/issues/issue_302.rs
  air/tests/test_module/negative_tests/uncatchable_trace_related.rs
  avm/client/src/types.ts
  avm/server/Cargo.toml
  crates/air-lib/air-parser/src/parser/lexer/call_variable_parser.rs
  crates/air-lib/air-parser/src/parser/lexer/mod.rs
  crates/air-lib/air-parser/src/parser/lexer/utils.rs
  crates/air-lib/air-parser/src/parser/tests/call.rs
  crates/air-lib/air-parser/src/parser/tests/fold.rs
  crates/air-lib/interpreter-interface/Cargo.toml
  crates/air-lib/interpreter-sede/Cargo.toml
  crates/air-lib/polyplets/Cargo.toml
  crates/air-lib/polyplets/src/triplet.rs
  crates/air-lib/test-utils/Cargo.toml
  crates/air-lib/test-utils/src/executed_state.rs
  crates/air-lib/test-utils/src/wasm_test_runner.rs
  crates/testing-framework/src/execution/mod.rs
  junk/gen-bench-data/Cargo.lock
  junk/gen-bench-data/src/cid_benchmarking/mod.rs
Labels: e2e

#822 chore: Rust channel update dedicated to ENIAC Day
  Cargo.lock
  air/src/execution_step/instructions/call/resolved_call.rs
  air/tests/test_module/features/tetraplets/security_tetraplets/auth_module/Cargo.lock
  air/tests/test_module/features/tetraplets/security_tetraplets/log_storage/Cargo.lock
  crates/air-lib/interpreter-sede/src/format.rs
  crates/air-lib/interpreter-value/src/value/mod.rs
  junk/gen-bench-data/Cargo.lock
  rust-toolchain.toml
Labels: P-high, A-CI, e2e

#824 fix(avm-client)!: this fixes the last argument type for WASM module 'invoke' function
  .github/workflows/e2e.yml
  avm/client/src/avmHelpers.ts
Labels: A-avm-client, e2e
