Repository fluencelabs/aquavm, pull requests merged in 2024-01, with the labels that each got.

#750 chore(docs): an additional doc on fold
  docs/fold.md
Labels: C-docs, P-low, e2e

#780 feat(interface)!: Use MessagePack for calls
  air/src/execution_step/instructions/call/prev_result_handler.rs
  air/tests/test_module/negative_tests/farewell_step.rs
  avm/client/src/avmHelpers.ts
  avm/client/src/formats.ts
  avm/interface/src/call_service_result.rs
  benches/PERFORMANCE.json
  benches/PERFORMANCE.txt
  crates/air-lib/interpreter-interface/Cargo.toml
  crates/air-lib/interpreter-interface/src/call_request_parameters.rs
  crates/air-lib/interpreter-interface/src/call_service_result.rs
  crates/air-lib/interpreter-sede/src/rmp_serde.rs
Labels: P-high, A-avm-server, A-avm-client, C-performance, T-optimization, e2e

#791 chore(build): remove risc-0 from workspace
  .github/release-please/config.json
  Cargo.lock
  tools/cli/air/Cargo.toml
Labels: C-bug, P-high, A-CI, e2e

#783 feat(data)!: Rkyv for `InterprerterData`
  Cargo.lock
  air/Cargo.toml
  air/src/farewell_step/outcome.rs
  air/src/preparation_step/errors.rs
  air/src/preparation_step/preparation.rs
  air/tests/test_module/features/data_merging/data_merge.rs
  air/tests/test_module/features/misc/version_check.rs
  air/tests/test_module/features/signatures/algorithms.rs
  air/tests/test_module/features/signatures/attacks.rs
  air/tests/test_module/features/signatures/corruption.rs
  air/tests/test_module/features/signatures/runtime.rs
  air/tests/test_module/negative_tests/farewell_step.rs
  air/tests/test_module/negative_tests/preparation_step.rs
  air/tests/test_module/negative_tests/uncatchable_trace_related.rs
  benches/PERFORMANCE.json
  benches/PERFORMANCE.txt
  crates/air-lib/interpreter-cid/Cargo.toml
  crates/air-lib/interpreter-cid/src/lib.rs
  crates/air-lib/interpreter-data/Cargo.toml
  crates/air-lib/interpreter-data/src/cid_info.rs
  crates/air-lib/interpreter-data/src/cid_store.rs
  crates/air-lib/interpreter-data/src/executed_state.rs
  crates/air-lib/interpreter-data/src/generation_idx.rs
  crates/air-lib/interpreter-data/src/interpreter_data.rs
  crates/air-lib/interpreter-data/src/interpreter_data/errors.rs
  crates/air-lib/interpreter-data/src/interpreter_data/repr.rs
  crates/air-lib/interpreter-data/src/interpreter_data/verification.rs
  crates/air-lib/interpreter-data/src/lib.rs
  crates/air-lib/interpreter-data/src/raw_value.rs
  crates/air-lib/interpreter-data/src/rkyv.rs
  crates/air-lib/interpreter-data/src/trace.rs
  crates/air-lib/interpreter-data/src/trace_pos.rs
  crates/air-lib/interpreter-signatures/Cargo.toml
  crates/air-lib/interpreter-signatures/src/lib.rs
  crates/air-lib/interpreter-signatures/src/sede.rs
  crates/air-lib/interpreter-signatures/src/stores.rs
  crates/air-lib/polyplets/Cargo.toml
  crates/air-lib/test-utils/src/key_utils.rs
  crates/air-lib/test-utils/src/lib.rs
  junk/gen-bench-data/src/cid_benchmarking/mod.rs
  junk/gen-bench-data/src/main.rs
Labels: P-high, A-execution-engine, C-performance, T-optimization, e2e

#794 feat(air,air-cli): pretty-printing binary interpreter data
  Cargo.lock
  air-interpreter/src/marine.rs
  air/src/human_readable_data.rs
  air/src/lib.rs
  air/src/preparation_step/mod.rs
  avm/server/src/errors.rs
  avm/server/src/runner.rs
  crates/air-lib/interpreter-interface/src/interpreter_outcome.rs
  tools/cli/air/Cargo.toml
  tools/cli/air/src/data.rs
  tools/cli/air/src/main.rs
  tools/cli/air/src/trace/run.rs
  tools/cli/air/src/trace/run/native.rs
  tools/cli/air/src/trace/run/runner.rs
  tools/cli/air/src/trace/run/wasm.rs
Labels: P-medium, C-feature, A-avm-server, e2e

#790 chore(benches): this is a set of RAM intensive benchmarks
  benches/PERFORMANCE.json
  benches/PERFORMANCE.txt
  junk/gen-bench-data/Cargo.toml
  junk/gen-bench-data/gen_benchmark_data.sh
  junk/gen-bench-data/src/main.rs
  junk/gen-bench-data/src/mem_consumption_canon_map.air.tmpl
  junk/gen-bench-data/src/mem_consumption_canon_map_2.air.tmpl
  junk/gen-bench-data/src/mem_consumption_generic.air.tmpl
  junk/gen-bench-data/src/mem_consumption_lense.air.tmpl
Labels: P-high, A-memory, C-performance

#798 chore(bench): re-run on MacOS arm64 and Linux x64
  benches/PERFORMANCE.json
  benches/PERFORMANCE.txt
Labels: A-tests, C-performance, T-optimization

#800 chore(performance,tests): hybrid workload memory intensive test
  junk/gen-bench-data/gen_benchmark_data.sh
  junk/gen-bench-data/src/main.rs
  junk/gen-bench-data/src/mem_consumption_hybrid.air.tmpl
Labels: A-tests, e2e

#801 fix(performance): data printout removal some preparation step errors increases data consumption printout data out
  air/src/preparation_step/errors.rs
  air/src/preparation_step/preparation.rs
  air/tests/test_module/negative_tests/preparation_step.rs
Labels: C-performance, T-hardening, e2e

#768 feat(deps)!: update to marine runtime with memory limits and wasmtime 0.13.0
  air/Cargo.toml
  air/tests/test_module/features/tetraplets/security_tetraplets.rs
  avm/server/Cargo.toml
  avm/server/src/runner.rs
Labels: e2e

#799 feat(performance): reduced stack size
  .cargo/config.toml
Labels: C-performance, T-hardening, e2e

#808 feat(cli): use eyre in air-cli
  Cargo.lock
  tools/cli/air/Cargo.toml
  tools/cli/air/src/beautify/mod.rs
  tools/cli/air/src/data.rs
  tools/cli/air/src/trace/run.rs
  tools/cli/air/src/trace/run/data/anomaly.rs
  tools/cli/air/src/trace/run/data/plain.rs
  tools/cli/air/src/trace/run/native.rs
  tools/cli/air/src/trace/run/near.rs
  tools/cli/air/src/trace/run/risc0.rs
  tools/cli/air/src/trace/run/runner.rs
  tools/cli/air/src/trace/run/wasm.rs
  tools/cli/air/src/trace/stats.rs
  tools/cli/air/src/trace/stats/report.rs
  tools/cli/air/src/trace/utils.rs
Labels: C-enhancement, P-low, e2e
